
nav {
    display: inline-flex;
    justify-content: space-around;
    margin: 0;
    
    }

.nav-items {
    display: inline-flex;
    padding: 20px 100px;
    font-weight: bold;
    font-size: 1rem;
    align-items: center;
}

.nav-item {
    padding: 10px;
    list-style-type: none;
}


h1 {
    font-size: 2.4rem;
    
}

.heart {
    color: red;
}

h2 {
    margin: 0;
    
}

.portrait {
    width: 500px;

}

#projects {
    margin: 25px;
}

.project {
    padding: 15px;
}

.project-image {
    width: 50%;
}

.project-title h3 {
    display: inline;
    padding: 20px;
    
}

details{
    cursor: pointer;
}

footer {
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    color: grey;
}

a {
    color: steelblue;
    text-decoration: none;
    font-size: 25px;
}

#skills-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

#about-me {
    background-image: url('./bgphoto.jpg');
    background-color: rgba(255, 255, 255, 0.3);
    background-blend-mode: lighten;
    height: 800px;
    padding-top: 30px;
    background-size: cover;
}

.about-me-container {
    width: 800px;
    text-align: center;
    display: inline-block;
    
}

#skills {
    width: 800px;
    text-align: center;
    display: inline-block;
    margin: 25px;

}

#skills h2 {
    padding: 25px;
}

#contact-me {
    margin: 25px;
}

#contact-me-icons i {
    padding: 15px;
}

@media (max-width: 320px) {
    body, 
    #projects
    #contact-me
    footer
    #java 
    {
        width: 800px;
    }

    .nav-items {
        display: none;
    }

    h1 {
        font-size: 5rem;
    }

    #skills-container {
        flex-wrap: wrap;
    }
}


@media (max-width: 1043px) {
    h1 {
        font-size: 1.5rem;
    }

    .nav-items a {
        font-size: 1rem;
    }

    }

@media (max-width: 827px) {
    #about-me {
        width: 800px;
        
    }
}

